[Unit]
Description=iAloy onboot loader

[Service]
Type=simple
Restart=no
StandardOutput=syslog
StandardError=syslog
Environment=QT_QPA_PLATFORM=eglfs
Requires=iAloy-update-manger.service
ExecStart=/usr/bin/iAloy

[Install]
WantedBy=multi-user.target

